.videoSidebar {
    position: absolute;
    top: 35%;
    right: 10px;
    color: #fff;
}

.videoSidebar__option {
    padding: 20px;
    text-align: center;
}

.videoSidebar__option p{
    padding: 0;
}

@media only screen and (max-width: 440px) {
    .videoSidebar {
        top: 50%;
        right: 15px;
    }
} 